<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ResultNovoPortalAstral</servlet-name>
        <servlet-class>Controller.ResultNovoPortalAstral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarSignos</servlet-name>
        <servlet-class>Controller.RecuperarSignos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirPrevisao</servlet-name>
        <servlet-class>Controller.IncluirPrevisao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPrevisao</servlet-name>
        <servlet-class>Controller.ListarPrevisao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPrevisao</servlet-name>
        <servlet-class>Controller.ExcluirPrevisao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultNovoPortalAstral</servlet-name>
        <url-pattern>/ResultNovoPortalAstral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarSignos</servlet-name>
        <url-pattern>/RecuperarSignos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirPrevisao</servlet-name>
        <url-pattern>/IncluirPrevisao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPrevisao</servlet-name>
        <url-pattern>/ListarPrevisao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPrevisao</servlet-name>
        <url-pattern>/ExcluirPrevisao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
