<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Molho</servlet-name>
        <servlet-class>Molho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingredientes</servlet-name>
        <servlet-class>Ingredientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Massa</servlet-name>
        <servlet-class>Massa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Molho</servlet-name>
        <url-pattern>/Molho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingredientes</servlet-name>
        <url-pattern>/Ingredientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Massa</servlet-name>
        <url-pattern>/Massa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Restrição1</display-name>
        <web-resource-collection>
            <web-resource-name>Molho</web-resource-name>
            <description/>
            <url-pattern>/Molho</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>PREMIUM</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Restrição2</display-name>
        <web-resource-collection>
            <web-resource-name>Ingredientes</web-resource-name>
            <description/>
            <url-pattern>/Ingredientes</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>PREMIUM</role-name>
            <role-name>PADRAO</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>Usuarios que pagam pelo servico</description>
        <role-name>PREMIUM</role-name>
    </security-role>
    <security-role>
        <description>usuario gratuito</description>
        <role-name>PADRAO</role-name>
    </security-role>
</web-app>
